.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 10% 0% 10%;
}
.container-buttons{
    display: flex;
    justify-content: right;
    width: 100%;
}
.container-form, .container-table{
    width: 100%;
}
button{
    margin-top: 10px;
    height: 42px;
    width: 140px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button:hover {
    background-color: #388E3C;
}